* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #666;
}
html {
  height: 100%;
}

body {
  min-height: 100%;
  background: #dbdeff;
  padding-bottom: 50px;
  font-family: 'Raleway', sans-serif;
}
footer {
  text-align: center;
}

.container {
  max-width: 800px;
  background: #fff;
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #dad7d7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.header {
  margin-bottom: 10px;
  border-bottom: #222 1px;
  height: auto;
  flex: 1;
}
#pic {
  float: right;
  margin: -30px 0 0 0;
  height: auto;
  border-radius: 50%;
}
.full-name {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  border-bottom: 1px solid #999;
  margin: 0 0 12px 0;
  padding: 0 0 12px 0;
}

.first-name {
  font-weight: 800;
  color: #0e1c5a;
}

.last-name {
  font-weight: 200;
  color: #245cab;
}
.interests {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: justify;
}

.wrap {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex: 2;
}
.info {
  line-height: 20px;
  flex: 1;

  padding-right: 50px;
}

.headings {
  letter-spacing: 1px;
  color: #0e1c5a;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  margin: 10px 0px 10px 0px;
  text-transform: uppercase;
}

.contents {
  margin-bottom: 20px;
  text-align: justify;
}
.contents h3 {
  color: #245cab;
}
.contents p {
  line-height: 1.6em;
}
.contents p span {
  text-transform: uppercase;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
}
.sidebar {
  padding-left: 20px;
  flex: 1;
  text-align: left;

  max-width: 180px;
}

.contact-form {
  max-width: 400px;
  line-height: 2.4em;
  margin: 20px 100px;
  padding: 20px;
  border: #666 1px solid;
}
.contact-form h2 {
  text-align: center;
  color: #245cab;
  font-weight: bolder;
  font-size: 16px;
}
.contact-form p {
  text-align: center;
  color: #245cab;
  font-weight: bold;
  font-size: 14px;
}
.contact-form .form-group {
  margin-top: 5px;
}

.contact-form .form-group label {
  font-size: 14px;
  display: block;
  color: #666;
}

.contact-form .form-group input,
textarea {
  width: 100%;
  padding: 8px;
  border: #ddd 1px solid;
  border-radius: 5px;
}

.contact-form button {
  display: block;
  width: 100%;
  background: #0d55f1;
  color: #fff;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border-style: none;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #0b4cd8;
}
